.slick-prev:before, .slick-next:before {
    background-color: rgb(255, 255, 255);
    color: rgb(20, 19, 19) !important;
   
    
}

.css-dev-only-do-not-override-1ck3jst.ant-switch.ant-switch-checked .ant-switch-inner {
    background-color: black;
    
}

.css-dev-only-do-not-override-1ck3jst.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
    background-color: black;
}

.css-dev-only-do-not-override-1ck3jst.ant-tabs .ant-tabs-ink-bar {
    background-color: black;
    
}

.css-dev-only-do-not-override-1ck3jst.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: black;
    
}
.css-dev-only-do-not-override-1ck3jst.ant-tabs .ant-tabs-tab:hover {
    color: black;
}

.slick-dots li.slick-active button:before {
    color: white !important;    
}
.slick-dots li button:before {
    color: beige;
    
    
}

.slick-dots  {
    margin-bottom: 40px;
}


.slick-slide .homeImg {
    width: 321px !important;
    height: 305px !important;
    border-radius: 5% !important;
    position: relative !important;
}

.heartImg {
    position: absolute !important;
    color: white;
    z-index: 10;
    font-size: 21px;
    padding-left: 260px;
    padding-top: 10px;
}
.nextRight {
    position: absolute;
    top: 140px; 
    left: 270px;
    opacity: 0;
}

.nextLeft {
    position: absolute;
    color: rebeccapurple;
    z-index: 10;
    top: 140px;
    left: 15px;
    opacity: 0;
}

.hoverImg:hover .nextLeft, .hoverImg:hover .nextRight {
    opacity: 1;
    transition: all 0.5s ease;
}

.btnsRoom {
    width: fit-content !important;
    text-align: center !important;
    margin: auto !important;
    /* justify-items: center !important; */
    
}
.btnsRoom:hover .w-border{
    border-bottom: 1px gray solid;
    transition: all 0.5s ease ;
    width: fit-content !important;
    /* text-align: center;
    display: flex;
    justify-content: center; */
    margin: auto;
}

.css-dev-only-do-not-override-pr0fja.ant-switch.ant-switch-checked {
    background: black;
}


.css-dev-only-do-not-override-pr0fja.ant-slider .ant-slider-track {
   
    background-color: black !important;
}

.css-dev-only-do-not-override-pr0fja.ant-slider .ant-slider-handle::after {
    box-shadow: 0 0 0 2px black !important;
}


.activeBedroom {
    color: white !important;
    background-color: black !important;
}

.activeBed {
    color: white !important;
    background-color: black !important;
}

.activebathroom {
    color: white !important;
    background-color: black !important;
}

.bedroom-list .bedRoom {
    width: 60px !important;
    height: 40px !important;
    padding: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    line-height: 18px;
}

.bed-list .bed {
    width: 60px !important;
    height: 40px !important;
    padding: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    line-height: 18px;
}

.bathroom-list .bathroom {
    width: 60px !important;
    height: 40px !important;
    padding: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    line-height: 18px;
}

.active-select-house {
    background-color: rgb(227, 227, 227);
    border: 2px solid black;
    /* color: white; */
}

.css-dev-only-do-not-override-pr0fja.ant-btn-primary {
    background-color: rgb(30, 29, 29);
}

.css-dev-only-do-not-override-pr0fja.ant-btn-primary:hover {
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
    box-shadow: 1px 0px 4px -1px rgba(0,0,0,0.75);
}